
@{
	ViewBag.Title = "FinishShopping";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:50px;text-align:center;">
	<div class="panel panel-default">
		<div class="panel-body">
			<div style="font-size:65pt;">
				@*<span class="glyphicon glyphicon-ok-circle" style="color:green;"></span>*@
				~~~~~~~~~
			</div>
			<p class="lead" style="font-size:42pt; color:dimgrey;">
				Tebrikler!<br /> Siparisiniz Basarıyla Tamamlandı.
			</p>
		</div>
	</div>
</div>

