
@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="noo-page-heading cart-heading">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="noo-heading-content">
                    <h1 class="page-title">Wishlist</h1>

                    <div class="noo-page-breadcrumb">
                        <span>@Html.ActionLink("Anasayfa", "Index", "Home") <i class="arrow_right"></i> Wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main">
    <div class="section mt-10 mb-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="commerce-cart">
                        <table class="cart wishlist-table">
                            <thead>
                                <tr>
                                    <th class="product-remove"></th>
                                    <th class="product-thumbnail"></th>
                                    <th class="product-name">Product Name</th>
                                    <th class="product-price">Unit Price</th>
                                    <th class="product-stock-stauts">Stock Status</th>
                                    <th class="product-add-to-cart"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-remove">
                                        <a href="#"></a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="shop-detail.html">
                                            <img src="images/product/thumb/product_1.jpg" alt="" />
                                        </a>
                                    </td>
                                    <td class="product-name">
                                        <a href="shop-detail.html">Corona Classic Chair</a>
                                    </td>
                                    <td class="product-price">
                                        &#36;211.00
                                    </td>
                                    <td class="product-stock-status">
                                        <span class="wishlist-in-stock">In Stock</span>
                                    </td>
                                    <td class="product-add-to-cart">
                                        <a href="#"> Add to Cart</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-remove">
                                        <a href="#"></a>
                                    </td>
                                    <td class="product-thumbnail">
                                        <a href="shop-detail.html">
                                            <img src="images/product/thumb/product_2.jpg" alt="" />
                                        </a>
                                    </td>
                                    <td class="product-name">
                                        <a href="shop-detail.html">Cuba Chair</a>
                                    </td>
                                    <td class="product-price">
                                        &#36;300.00
                                    </td>
                                    <td class="product-stock-status">
                                        <span class="wishlist-in-stock">In Stock</span>
                                    </td>
                                    <td class="product-add-to-cart">
                                        <a href="#"> Add to Cart</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

