
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <img src="~/images/About/about_bg.jpg" alt="">

</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 ">


            <h4>Hakkımızda</h4>
            <p>

                CoffeeLand, birinci sınıf Dünya Kahve endüstrisinde ve ülke çapında daha geniş soğuk demlenmiş kahve endüstrisinde lider olmak için Türkiyede mütevazi başlangıçlarından itibaren büyüdü.<br />
                Misyonumuz, arkadaşlar arasında harika bir fincan organik kahvenin veya çayın tadını çıkarabileceğiniz bir topluluk hedefi oluşturmaktı.<br />
                Samimi ve yetenekli barista'larımızla konforlu bir ortamda kaliteli içecekler sunuyoruz.<br />
                Tüm yerel okullarla ve topluluk örgütleriyle çalışıyoruz ve Türkiye'deki ve çevresindeki birçok etkinliğe katılıyoruz.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">


            <h4>Dünyada Kahve Kültürü</h4>
            <p>
                Kahvenin Venedik’e geçişi iki koldan oldu. Birincisi Osmanlı kanalındandı. İkinci kol ise 2. Viyana Kuşatması ile
                Avusturya’dan oldu. Kuşatmadan başarısızlıkla dönen Osmanlı ordusu geri taşımamak için beraberinde getirdiği
                kahve çuvallarını bazı gıda maddeleri ile beraber kuşatma alanında bıraktı. Tam yakılıp imha edilecekken, Osmanlı
                içersinde casus olarak bulunmuş Polonya kökenli bir Avusturyalı olan Kolschitzky tarafından izinle alındı ve
                kahve Avrupa topraklarında kavrulmaya ve içilmeye başlandı.

                Bu lezzetli içecek kısa zaman içinde Fransa, İtalya gibi diğer Avrupa ülkelerini de kendine bağlamayı başardı.
                Özellikle Avusturya bu konuda bir adım daha önde bu mirasa sahip çıktı. UNESCO’nun Kültürel Miras Listesi’nde o
                günden günümüze gelen kahve kültürü "Das Kaffeehaus" olarak yer alıyor.

                Özellikle Avrupa’da ilk önceleri sanatçıların ağırlıklı olduğu bir kitleye hitap ediyorken git gide halk arasında
                da yayıldı. Kahve adına ünlü müzisyenler tarafından besteler yapıldı. Balzac gibi günde 30 fincan kahve içen
                yazarlar kahveyi birçok eser ve söylemlerinde başköşeye koydu. Avrupa’da hemen her ülke kendi içerisinde bir
                kahve kültürü oluşturmaya çalıştı. Bunu kendilerine has kahve türleri yaratarak yaptılar, hatta aynı kahveye
                kendi kültürleri içinde kendilerine has isimler vererek özelleştirmeye çalıştılar. Örneğin İtalyanların
                espresso’suna Avusturyalılar "schwarzer" derken, cappuccino yerine Fransa’da "cafe au’lait" tercih ediliyor. Ufak
                dokunuşlar ile yapılan yöreye özel kahve türleri de kültürün bir parçası olarak karşımıza çıkıyor. Küçük bir süt
                köpüğü ile yapılan macchiato, biraz tarçın, vanilya tarzı baharatlar ile aromalandırılmış İspanyol "cafe con
                miel", latte’nin farklı bir versiyonu lagrima gibi…

            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/About/coffee_world.jpg" style="height:450px; margin-top:20px;"  alt="Alternate Text" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">


            <h4>Avrupa’da Kahve Nasıl İçiliyor?</h4>
            <p>
                Ülkeler arasında tadım farkları da kahvelerin çeşitlenmesinde önemli rol oynuyor. İtalyanlar güne sert bir kahve
                ile başlamayı seviyor. Genellikle espresso ve ristretto tarzı tek shot’lık, hızlı içilen, tok ve dolgun yapıdaki
                kahveleri tercih ediyor. İtalya’nın kuzeyinden güneyine doğru inerken daha odunsu tatlar ve sert robusta
                çeşidinin harmanlarda yer aldığı espresso türleri ağırlık kazanmaya başlıyor. Americano ölçüleri de normalden
                biraz daha kısa ve mutlaka sıcak su ve espresso karışımı ile hazırlanıyor. Bir ufak parça limon kabuğu ile
                birleşmiş espresso seçeneği olan "espresso romano"nun da İtalyan kahve kültüründe önemli bir yeri var.

                Avusturya, Fransa, Hollanda gibi ülkelerde sütlü ürünlerin daha fazla tüketildiğini söylemek mümkün. Özellikle
                Hollanda’da kahve miktarı süt oranına kıyasla daha düşük. Ülkelerin damak tatlarına göre değişen kahve tercihleri
                arasında en dikkat çekici türlerden biri "kaffeost". İsveç’in kendine özgü bu kahvesi yine ülkeye özgü bir peynir
                parçası ile beraber içiliyor. Almanya’nın en meşhur kahvelerinden "pharisaer", rom ile yapılan ve alkollü
                kahveler sınıfından bir yerel kahve. Tüketimi oldukça yaygın.

                Türkiye’de ise espresso’dan bile daha sert ve dolgun tatlı Türk kahvesi ilk sırada yer alıyor. İçinde telvesi ile
                pişen ve içilirken bile demlenmeye devam eden tek kahve türü. Son dönemlerde damla sakızlı, kakuleli gibi kahve
                ile birleşen aromatik varyasyonları olsa da okkalı bir Türk kahvesi nesiller boyu kültürümüzün bir parçası haline
                gelmiş. Günümüzde de yerini korumaya devam ediyor.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/About/avrupa_coffee.jpg" style="margin-top:20px;" alt="Alternate Text" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">


            <h4>Amerika Kıtası Ve Kahve</h4>
            <p>
                Her ne kadar 19. yüzyıl civarında kahve ile sonradan tanışmış bir toplum gibi görünse de kahve Amerika’da sosyal hayatın içine hızlı bir şekilde yerleşti. Tercih edilen kahvelerde genellikle daha yumuşak, bir nevi suyla seyreltilmiş diyebileceğimiz bir lezzet aralığı mevcut.

                Filtre kahve ağırlıklı bir alışkanlığın olduğunu söylemek zor olmasa gerek. Ama bunun aksini de görebileceğiniz, kendilerine özgü yarattıkları kahve türü "red eye" veya "lazy eye" da literatüre eklenmiş durumda. Double shot espresso üzerine 120 ml kafeinsiz demlenmiş kahve eklenmesi ile yoğun bir lezzet ortaya çıkıyor, ismi de buradan yola çıkarak bulunmuş.

                Eski yıllardaki Baharat ve İpek Yolu gibi ticareti yönlendiren lokasyonların yerini, Etiyopya’dan başlayıp dünyaya yayılan bir görünmeyen kahve yolu alıyor. Günümüzde kahvenin petrolden sonra en büyük ticaret ürünü olması da bunun en büyük kanıtı.

            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/About/coffee_america.jpg"  alt="Alternate Text" />
        </div>
    </div>
</div>

