
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @class = "form-login", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="form-login-heading">Üye Ol</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="login-wrap">
            <div class="form-group">
                <input type="text" required name="firstname" placeholder="İsim" class="form-control" />
            </div>

            <br />

            <div class="form-group">
                <input type="text" required name="lastname" placeholder="Soyisim" class="form-control" />
            </div>

            <br />

            <div class="form-group">
                <input type="text" required name="username" placeholder="Kullanıcı Adı" class="form-control" />
            </div>

            <br />

            <div class="form-group">
                <input type="password" required name="password" placeholder="Şifre" class="form-control" />
            </div>

            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label>Erkek: </label>
                    </div>
                    <div class="col-md-10">
                        <input type="checkbox" name="gender"/>
                    </div>
                </div>
            </div>

            <br />

            <div class="form-group">
                <input type="date" required name="birthdate" class="form-control" />
            </div>

            <br />

            <button type="submit" class="btn btn-theme btn-block"><i class="fa fa-lock"></i>Üye Ol</button>
        </div>
    }
</div>

